/* This stylesheet is used to style the admin option form of the plugin. */

.new-markers {
	height: 20px;
	padding: 10px 0 5px 0;
}
.js-new-markers-intro {
	display: none;
}
.new-marker,
.mark-posts-marker {
	background: rgba(255,255,255,.75);
	color: #444;
	line-height: 27px; /* in case of multiple lines for markers*/
	padding: 2px 5px;
	margin: 0 0 0 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
        display: inline-block;
}