/* Mark Posts Dashboard Widget Styles */

h3.mark_posts_headline {
	padding:       0 2% 8px 2%;
	border-bottom: 1px solid #eee;
}

.markers_right_now {
	overflow: hidden;
	padding:  0;
	margin:   0 0 17px 0;
}

.markers_right_now:last-child {
	margin-bottom: 0;
}

.markers_right_now li {
	width:   46%;
	float:   left;
	padding: 8px 1% 0 1%;
	margin:  0;
}

.markers_right_now li a {
	line-height: 1.4em;
	font-size:   13px;
}

.markers_right_now li a:before {
	font:                   400 20px/1 dashicons;
	content:                '\f159';
	speak:                  none;
	display:                block;
	float:                  left;
	margin:                 0 5px 0 0;
	padding:                0;
	text-indent:            0;
	text-align:             center;
	position:               relative;
	-webkit-font-smoothing: antialiased;
	text-decoration:        none !important;
}